<IfModule mod_rewrite.c>
Headers unset X-Powered-By
	Header set X-XSS-Protection "1; mode=block"
	Header set X-Frame-Options "SAMEORIGIN"
	Header set X-Content-Type-Options "nosniff"
	Header always set Strict-Transport-Security "max-age=63072000; includeSubDomains"
	# Header set Content-Security-Policy ...
	Header set Referrer-Policy "same-origin"
  Header set Permissions-Policy "geolocation=(self), vibrate=(), accelerometer=(), camera=(), gyroscope=(), magnetometer=(), microphone=(), payment=(), usb=()"

</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Prevent rewriting API requests
  RewriteRule ^api/(.*)$ - [QSA]
  RewriteRule ^(.*)$ public/$1 [L]
</IfModule>